﻿@{
    ViewBag.Title = "Home Page";
}

<div class="row jumbotron">
    <div class="col-md-7">
        <p>
            @Html.Raw(RayProfile.Resources.Common.AppDescription)
        </p>
    </div>
    @if (!User.Identity.IsAuthenticated)
    {
        <div class="col-md-5">
            <div style="margin-top: 10px;">
                <a style="width:100%; white-space:normal;" class="btn btn-primary btn-lg" href="/register/user">@RayProfile.Resources.Common.Register @RayProfile.Resources.Common.AsUser</a>
            </div>
            <div style="margin-top: 10px;">
                <a style="width: 100%; white-space: normal;" class="btn btn-primary btn-lg" href="/register/company">@RayProfile.Resources.Common.Register @RayProfile.Resources.Common.AsCompany</a>
            </div>
            <div style="text-align:center;">
                <a style="width: 70%; white-space: normal;" class="btn btn-primary btn-sm" href="/login/user">@RayProfile.Resources.Common.Login @RayProfile.Resources.Common.AsUser</a>
            </div>
            <div style="text-align:center;;">
                <a style="width: 70%; white-space: normal;" class="btn btn-primary btn-sm" href="/login/company">@RayProfile.Resources.Common.Login @RayProfile.Resources.Common.AsCompany</a>
            </div>
        </div>
    }
</div>