﻿@model RayProfile.Web.ViewModels.HomeSearchViewModel

@{
    ViewBag.Title = "Search";
}

<h2>@RayProfile.Resources.Common.Search</h2>

<div class="row">
    <fieldset class="col-md-5">
        <legend>@RayProfile.Resources.Common.Users</legend>
        <div id="users"></div>
        <ul class="pagination pagination-sm">
            @for (int i = 1; i <= Model.Users.Count / 5 + 1; i++)
            {
                <li>
                    <a href="javascript:;" class="user-page-button" data-page="@i">@i</a>
                </li>
            }
        </ul>
    </fieldset>
    <fieldset class="col-md-5">
        <legend>@RayProfile.Resources.Common.Companies</legend>
        <div id="companies"></div>
        <ul class="pagination pagination-sm">
            @for (int i = 1; i <= Model.Companies.Count / 5 + 1; i++)
            {
                <li>
                    <a href="javascript:;" class="company-page-button" data-page="@i">@i</a>
                </li>
            }
        </ul>
    </fieldset>
</div>

@section Scripts{
    <script>
        $(document).ready(function(){
            var users = @Html.Raw(Model.UsersJSON);
            var userPage = 1;
            var usersToShow = users.slice((userPage-1)*5,(userPage*5));
            var html = "";
            for(var i=0;i<usersToShow.length;i++){
                html+='<div class="panel panel-default">'+
                      '<div class="panel-body">'+
                      '<a href="/user/'+usersToShow[i].Id+'">'+usersToShow[i].Username+'</a>'+
                      '</div>'+
                      '</div>';
            }
            $("#users").html(html);
            $(".user-page-button").on('click',function(){
                var userPage = $(this).attr('data-page');
                var usersToShow = users.slice((userPage-1)*5,(userPage*5));
                var html = "";
                for(var i=0;i<usersToShow.length;i++){
                    html+='<div class="panel panel-default">'+
                          '<div class="panel-body">'+
                          '<a href="/user/'+usersToShow[i].Id+'">'+usersToShow[i].Username+'</a>'+
                          '</div>'+
                          '</div>';
                }
                $("#users").html(html);
            });

            var companies = @Html.Raw(Model.CompaniesJSON);
            var companyPage = 1;
            var companiesToShow = companies.slice((companyPage-1)*5,(companyPage*5));
            var html = "";
            for(var i=0;i<companiesToShow.length;i++){
                html+='<div class="panel panel-default">'+
                      '<div class="panel-body">'+
                      '<a href="/company/'+companiesToShow[i].Id+'">'+companiesToShow[i].Name+'</a>'+
                      '</div>'+
                      '</div>';
            }
            $("#companies").html(html);
            $(".company-page-button").on('click',function(){
                var companyPage = $(this).attr('data-page');
                var companiesToShow = companies.slice((companyPage-1)*5,(companyPage*5));
                var html = "";
                for(var i=0;i<companiesToShow.length;i++){
                    html+='<div class="panel panel-default">'+
                          '<div class="panel-body">'+
                          '<a href="/company/'+companiesToShow[i].Id+'">'+companiesToShow[i].Name+'</a>'+
                          '</div>'+
                          '</div>';
                }
                $("#companies").html(html);
            });
        });
    </script>
}