﻿@model List<RayProfile.Web.ViewModels.MessagesReceivedViewModel>

@{
    ViewBag.Title = RayProfile.Resources.Common.Messages;
}

<h2>@RayProfile.Resources.Common.Messages</h2>
<ul class="unstyled z-padding">
    @foreach (var item in Model)
    {
        <li>
            <div class="panel panel-default">
                <div class="panel-body">
                    @Html.Raw(item.Content)
                </div>
            </div>
        </li>
    }
</ul>