﻿@model List<RayProfile.Web.ViewModels.UserEducationViewModel>

<ul class="unstyled z-padding">
    @foreach (var item in Model)
    {
        <li>
            <div class="panel panel-default">
                <div class="panel-body">
                    <header>
                        <h4>
                            @item.SchoolName
                        </h4>
                        <h5>
                            @item.Type
                        </h5>
                    </header>
                    @item.StartYear -
                    @if (item.EndYear == null)
                    {
                        @RayProfile.Resources.Common.AtTheMoment
                    }
                    else
                    {
                        @item.EndYear
                    }
                </div>
            </div>
        </li>
    }
</ul>