﻿@model List<RayProfile.Web.ViewModels.UserExperienceViewModel>

<ul class="unstyled z-padding">
    @foreach (var item in Model)
    {
        <li>
            <div class="panel panel-default">
                <div class="panel-body">
                    <header>
                        <h4>
                            @if (!item.CompanyExists)
                            {
                                @item.CompanyName
                            }
                            else
                            {
                                <a href="/company/@item.CompanyId">@item.CompanyName</a>
                            }
                        </h4>
                        <h5>
                            @item.Position
                        </h5>
                    </header>
                    @item.StartYear -
                    @if (item.EndYear == null)
                    {
                        <span>@RayProfile.Resources.Common.AtTheMoment</span>
                    }
                    else
                    {
                        @item.EndYear
                    }
                </div>
            </div>
        </li>
    }
</ul>