﻿@model List<RayProfile.Web.ViewModels.UserResourcesViewModel>

<ul class="unstyled z-padding">
    @foreach (var item in Model)
    {
        <li>
            <div class="panel panel-default">
                <header class="panel-heading">
                    <h3>@item.Title</h3>
                </header>
                <div class="panel-body">

                    @if (item.Content != null)
                    {
                        <p>@item.Content</p>
                    }
                    @if (item.Link != null)
                    {
                        <p><a href="@item.Link">@item.Link</a></p>
                    }
                </div>
            </div>
        </li>
    }
</ul>