﻿@model RayProfile.Web.ViewModels.UserShowViewModel

@{
    ViewBag.Title = Model.Name;
}
<h3>@Model.Name</h3>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-md-6">
            @if (Model.Details.FirstName != null)
            {
                <div>
                    @RayProfile.Resources.Views.User.FirstName: @Model.Details.FirstName
                </div>
            }
            @if (Model.Details.FatherName != null)
            {
                <div>
                    @RayProfile.Resources.Views.User.FatherName: @Model.Details.FatherName
                </div>
            }
            @if (Model.Details.Surname != null)
            {
                <div>
                    @RayProfile.Resources.Views.User.Surname: @Model.Details.Surname
                </div>
            }
            @if (Model.Details.Sex != 0 && Model.Details.Sex != null)
            {
                <div>
                    @RayProfile.Resources.Views.User.Sex:
                    @if (Model.Details.Sex == 1)
                    {
                        <span>@RayProfile.Resources.Views.User.Male</span>
                    }
                    else
                    {
                        <span>@RayProfile.Resources.Views.User.Female   </span>
                    }
                </div>
            }
            @if (Model.Details.Country != null)
            {
                <div>
                    @RayProfile.Resources.Views.User.Country: @Model.Details.Country
                </div>
            }
            @if (Model.Details.Town != null)
            {
                <div>
                    @RayProfile.Resources.Views.User.Town: @Model.Details.Town
                </div>
            }
        </div>
        @if (Model.Details.About != null)
        {
            <div class="col-md-4">
                <div>
                    @RayProfile.Resources.Views.User.About: @Model.Details.About
                </div>
            </div>
        }

        @if (User.Identity.IsAuthenticated && Session["type"] != null && Session["type"].ToString() == "company")
        {
            <div class="col-md-3">
                @Html.Action("VoteUserView", "Votes", new { userId = Model.Id })
            </div>
        }
    </div>
</div>
<div>
    <div class="tab-nav nav navbar-default">
        <ul class="nav navbar-nav">
            <li><a href="#skills" data-toggle="tab">@RayProfile.Resources.Common.Skills</a></li>
            <li><a href="#experience" data-toggle="tab">@RayProfile.Resources.Common.Experience</a></li>
            <li><a href="#education" data-toggle="tab">@RayProfile.Resources.Common.Education</a></li>
            <li><a href="#resources" data-toggle="tab">@RayProfile.Resources.Common.Resources</a></li>
        </ul>
    </div>
    <div class="tab-content">
        <div class="user-show-container container tab-pane active" id="skills">
            @Html.Action("Skills", "User", new { userId = Model.Id })
        </div>
        <div class="user-show-container container tab-pane z-padding" id="experience">
            @Html.Action("Experience", "User", new { userId = Model.Id })
        </div>
        <div class="user-show-container container tab-pane z-padding" id="resources">
            @Html.Action("Resources", "User", new { userId = Model.Id })
        </div>
        <div class="user-show-container container tab-pane z-padding" id="education">
            @Html.Action("Education", "User", new { userId = Model.Id })
        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/Scripts/skills.js")
}
