﻿@model RayProfile.Web.ViewModels.UserSkillsViewModel

<input type="hidden" name="userId" value="@Model.UserId" />
<div class="skillrow row">
</div>
<div>
    <ul class="pagination">
        @for (int i = 1; i <= Model.PageCount; i++)
        {
            <li><a class="page-button" href="javascript:;" data-page="@i">@i</a></li>
        }
    </ul>
</div>