﻿@model RayProfile.Web.ViewModels.PositionsAddViewModel

@{
    ViewBag.Title = RayProfile.Resources.Common.Add;
}

<h2>@RayProfile.Resources.Common.Add</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(false)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name, "*")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Desc, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Desc)
                @Html.ValidationMessageFor(model => model.Desc, "*")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Skills, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="skills">
                </div>
                <input type="button" id="add-skill-btn" class="btn btn-primary" value="@RayProfile.Resources.Views.UserSkills.AddSkill" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@RayProfile.Resources.Common.Add" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(RayProfile.Resources.Common.BackToList, "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/Scripts/tinymce/tinymce.min.js")
    <script>
        $(document).ready(function () {

            tinymce.init({
                selector: "textarea",
                menubar: false,
                statusbar: false,
                plugins: [
                    "advlist autolink lists link image charmap print preview anchor",
                    "searchreplace visualblocks code fullscreen",
                    "insertdatetime media table contextmenu paste"
                ],
                toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent"
            });


            var i = 0;
            var skills = @(Html.Raw(Model.SkillsJSON))
            $(".remove-skill").on('click', function () {
                var id = $(this).attr('data-id');
                $("div[data-id=" + id + "]").remove();
                $('.skills').append('<input type="hidden" value="5" name="Skills[' + id + '].Name" />');
            });

            $("#add-skill-btn").on("click", function () {
                var j = i;
                var skillHTML = "";
                if (j == 0) {
                    skillHTML += "<hr />";
                }
                skillHTML +=
                    '<div data-id="' + j + '">' +
                    '<input placeholder="@Html.Raw(RayProfile.Resources.ViewModels.UserSkills.Name)" class="skill" type="text" name="Skills[' + j + '].Name" />' +
                    '<div class="value-show-' + j + '">5</div>' +
                    '<div style="width:200px; margin-top:10px;" class="slider-' + j + '">' +
                    '</div><a class="unstyled remove-skill" data-id="' + j + '" href="javascript:;"><span class="glyphicon glyphicon-remove"></span></a>' +
                    '<input type="hidden" value="5" class="value-' + j + '" name="Skills[' + j + '].Value" />' +
                    '<hr /></div>';

                $(".skills").append(skillHTML);

                $(".remove-skill").on('click', function () {
                    var id = $(this).attr('data-id');
                    $("div[data-id=" + id + "]").remove();
                    $('.skills').append('<input type="hidden" value="5" name="Skills[' + id + '].Name" />');
                });

                $(".skill").autocomplete({
                    source: skills,
                });

                $(".slider-" + j).slider({
                    min: 1,
                    max: 10,
                    step: 1,
                    value: 5,
                    slide: function (e, ui) {
                        $(".value-" + j).val(ui.value);
                        $(".value-show-" + j).html(ui.value);
                    }
                });

                i++;
                return false;
            });

        });
    </script>
}