﻿@model List<RayProfile.Web.ViewModels.PositionsIndexViewModel>

@{
    ViewBag.Title = RayProfile.Resources.Common.Positions;
}

<h2>@RayProfile.Resources.Common.Positions</h2>

<p>
    <a href="/company/position/add">@RayProfile.Resources.Views.Positions.AddNewPosition</a>
</p>

<ul class="unstyled z-padding">
    @foreach (var item in Model)
    {
        <li>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4><a data-target="@item.Id" class="position-name" href="javascript:;">@item.Name</a></h4>
                    <div data-id="@item.Id" class="hidden">
                        @Html.Raw(item.Desc)
                        <fieldset>
                            <legend>@RayProfile.Resources.Common.Skills</legend>
                            <ul class="skills z-padding unstyled">
                                @foreach (var skill in item.Skills)
                                {
                                    <li>
                                        @skill.Name - @skill.Value
                                    </li>
                                }
                            </ul>
                        </fieldset>
                        <a href="/company/position/@item.Id/applications">@RayProfile.Resources.Common.Applications</a>
                    </div>
                </div>
                <footer class="panel-footer">
                    <a class="unstyled" href="/company/position/delete/@item.Id"><span class="glyphicon glyphicon-remove"></span></a>
                    <a class="unstyled" href="/company/position/edit/@item.Id"><span class="glyphicon glyphicon-pencil"></span></a>
                </footer>
            </div>
        </li>
    }
</ul>

@section Scripts{
    <script>
        $(document).ready(function () {
            $(".position-name").on("click", function () {
                var targetId = $(this).attr("data-target");
                var target = $("[data-id=" + targetId + "]");
                if (target.hasClass("hidden")) {
                    target.removeClass("hidden");
                } else {
                    target.addClass("hidden");
                }
            });
        });
    </script>
}