﻿@model RayProfile.Web.ViewModels.VotesVoteUserViewViewModel

@{
    ViewBag.Title = "VoteCompanyView";
}

@if (Model.Voted == false)
{
    <form method="post" action="/user/vote/@Model.UserId">
        <label>1</label><input type="radio" name="value" value="1" />
        <label>2</label><input type="radio" name="value" value="2" />
        <label>3</label><input type="radio" name="value" value="3" />
        <label>4</label><input type="radio" name="value" value="4" />
        <label>5</label><input type="radio" name="value" value="5" />
        <input type="submit" class="btn btn-sm btn-default" value="@RayProfile.Resources.Common.Vote" />
    </form>
}
else
{
    <span>@RayProfile.Resources.Common.Rate: @Model.Value</span>
}