﻿@model RayProfile.Web.ViewModels.CompanyDetailsEditViewModel

@{
    ViewBag.Title = RayProfile.Resources.Common.Edit;
}

<h2>@RayProfile.Resources.Common.Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(false)

        <div class="form-group">
            @Html.LabelFor(model => model.Size, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div>
                </div>
                <select name="Size" class="form-control">
                    <option @if (Model.Size == null) { <text> selected </text>  } value=""></option>
                    <option @if (Model.Size == RayProfile.Models.CompanySize.OneToTen) { <text> selected </text>      } value="@RayProfile.Models.CompanySize.OneToTen">1-10 @RayProfile.Resources.Common.Employees</option>
                    <option @if (Model.Size == RayProfile.Models.CompanySize.TenToFifty) { <text> selected </text>     } value="@RayProfile.Models.CompanySize.TenToFifty">11-50 @RayProfile.Resources.Common.Employees</option>
                    <option @if (Model.Size == RayProfile.Models.CompanySize.FiftyToHundred) { <text> selected </text>     } value="@RayProfile.Models.CompanySize.FiftyToHundred">51-100 @RayProfile.Resources.Common.Employees</option>
                    <option @if (Model.Size == RayProfile.Models.CompanySize.HundredToFiveH) { <text> selected </text>     } value="@RayProfile.Models.CompanySize.HundredToFiveH">101-500 @RayProfile.Resources.Common.Employees</option>
                    <option @if (Model.Size == RayProfile.Models.CompanySize.FiveHToThousand) { <text> selected </text>     } value="@RayProfile.Models.CompanySize.FiveHToThousand">501-1000 @RayProfile.Resources.Common.Employees</option>
                    <option @if (Model.Size == RayProfile.Models.CompanySize.ThousandToFiveT) { <text> selected </text>     } value="@RayProfile.Models.CompanySize.ThousandToFiveT">1001-5000 @RayProfile.Resources.Common.Employees</option>
                    <option @if (Model.Size == RayProfile.Models.CompanySize.FiveTToTenT) { <text> selected </text>     } value="@RayProfile.Models.CompanySize.FiveTToTenT">5001-10000 @RayProfile.Resources.Common.Employees</option>
                    <option @if (Model.Size == RayProfile.Models.CompanySize.OverTenT) { <text> selected </text>      } value="@RayProfile.Models.CompanySize.OverTenT">10001+ @RayProfile.Resources.Common.Employees</option>
                </select>
                @Html.ValidationMessageFor(model => model.Size, "*")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Founded, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="Founded" class="form-control">
                    <option value=""></option>
                    @for (int i = DateTime.Now.Year; i > 1920; i--)
                    {
                        <option @if (Model.Founded == i) { <text> selected </text>            } value="@i">@i</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.Founded, "*")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Industry, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Industry, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Industry, "*")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Site, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Site, new { @class = "form-control", placeholder = "http://example.com" })
                @Html.ValidationMessageFor(model => model.Site, "*")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Desc, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Desc, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Desc, "*")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@RayProfile.Resources.Common.Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/tinymce/tinymce.min.js")
    <script>
        $(document).ready(function () {
            tinymce.init({
                selector: "textarea",
                menubar: false,
                statusbar: false,
                plugins: [
                    "advlist autolink lists link image charmap print preview anchor",
                    "searchreplace visualblocks code fullscreen",
                    "insertdatetime media table contextmenu paste"
                ],
                toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent"
            });
        });
    </script>
}