﻿@model List<RayProfile.Web.ViewModels.ProductsIndexViewModel>

@{
    ViewBag.Title = RayProfile.Resources.Common.ProductsAndServices;
}

<h2>@RayProfile.Resources.Common.ProductsAndServices</h2>

<p>
    <a href="/company/product/add">@RayProfile.Resources.Views.Products.AddProduct</a>
</p>

@foreach (var item in Model)
{
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                <header>
                    <h3>
                        @item.Name
                    </h3>
                </header>
                <div>
                    @item.Desc
                </div>
                <div>
                    <a class="unstyled" href="/company/product/delete/@item.Id"><span class="glyphicon glyphicon-remove"></span></a>
                    <a class="unstyled" href="/company/product/edit/@item.Id"><span class="glyphicon glyphicon-pencil"></span></a>
                </div>
            </div>
        </div>
    </div>
}