﻿@model List<RayProfile.Web.ViewModels.OffersIndexViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@foreach (var offer in Model) {
    <div class="panel panel-default">
        <div class="panel-body">
            <div>
                @offer.Position
            </div>
        </div>
    </div>
}