﻿@model RayProfile.Web.ViewModels.UserEducationEditViewModel

@{
    ViewBag.Title = RayProfile.Resources.Common.Edit;
}

<h2>@RayProfile.Resources.Common.Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(false)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.SchoolName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.SchoolName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SchoolName, "*")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartYear, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="StartYear" class="form-control">
                    @for (int i = DateTime.Now.Year; i > 1920; i--)
                    {
                        <option @if (Model.StartYear == i) { <text> selected </text>        } value="@i">@i</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.StartYear, "*")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndYear, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="EndYear" class="form-control">
                    <option value=""></option>
                    @for (int i = DateTime.Now.Year; i > 1920; i--)
                    {
                        <option @if (Model.EndYear == i) { <text> selected </text>        } value="@i">@i</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.EndYear, "*")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Type, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="Type" class="form-control">
                    <option value="@RayProfile.Models.EducationType.Primary" label="">@RayProfile.Resources.Common.Primary</option>
                    <option value="@RayProfile.Models.EducationType.Elementary" label="">@RayProfile.Resources.Common.Elementary</option>
                    <option value="@RayProfile.Models.EducationType.Secondary" label="">@RayProfile.Resources.Common.Secondary</option>
                    <option value="@RayProfile.Models.EducationType.University" label="">@RayProfile.Resources.Common.University</option>
                </select>
                @Html.ValidationMessageFor(model => model.Type, "*")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@RayProfile.Resources.Common.Save" cla class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(RayProfile.Resources.Common.BackToList, "Index")
</div>