﻿@model List<RayProfile.Web.ViewModels.UserEducationIndexViewModel>

@{
    ViewBag.Title = RayProfile.Resources.Common.Education;
}

<h2>@RayProfile.Resources.Common.Education</h2>
<p>
    <a href="/user/education/create">@RayProfile.Resources.Views.UserEducation.AddEducation</a>
</p>
<ul class="unstyled z-padding">
    @foreach (var item in Model)
    {
        <li>
            <div class="panel panel-default">
                <div class="panel-body">
                    <header>
                        <h4>
                            @item.SchoolName
                        </h4>
                        <h5>
                            @item.Type
                        </h5>
                    </header>
                    @item.StartYear -
                    @if (item.EndYear == null)
                    {
                        @RayProfile.Resources.Common.AtTheMoment
                    }
                    else
                    {
                        @item.EndYear
                    }
                </div>
                <footer class="panel-footer">
                    <a class="unstyled" href="/user/education/delete/@item.Id"><span class="glyphicon glyphicon-remove"></span></a>
                    <a class="unstyled" href="/user/education/edit/@item.Id"><span class="glyphicon glyphicon-pencil"></span></a>
                </footer>
            </div>
        </li>
    }
</ul>