﻿@model RayProfile.Web.ViewModels.UserExperienceEditViewModel

@{
    ViewBag.Title = RayProfile.Resources.Common.Edit;
}

<h2>@RayProfile.Resources.Common.Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(false)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.CompanyName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.CompanyName, new { @class = "companyNames form-control" })
                @Html.ValidationMessageFor(model => model.CompanyName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Position, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Position, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Position)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartYear, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="StartYear" class="form-control">
                    @for (int i = DateTime.Now.Year; i > 1920; i--)
                    {
                        <option @if (Model.StartYear == i) { <text> selected </text>    } value="@i">@i</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.StartYear, "*")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndYear, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="EndYear" class="form-control">
                    <option value=""></option>
                    @for (int i = DateTime.Now.Year; i > 1920; i--)
                    {
                        <option @if (Model.EndYear == i) { <text> selected </text>    } value="@i">@i</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.EndYear, "*")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@RayProfile.Resources.Common.Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(RayProfile.Resources.Common.BackToList, "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    <script>
        $(document).ready(function () {
            var companyNamesAC = @(Html.Raw(Model.CompanyNamesJSON))
            $(".companyNames").autocomplete({
                source: companyNamesAC,
            });
        });
    </script>
}