﻿@model List<RayProfile.Web.ViewModels.UserExperienceIndexViewModel>

@{
    ViewBag.Title = RayProfile.Resources.Views.UserExperience.Experience;
}

<h2>@RayProfile.Resources.Views.UserExperience.Experience</h2>
<div>
    <a href="/user/experience/add">@RayProfile.Resources.Views.UserExperience.AddExperience</a>
</div>
@foreach (var item in Model)
{
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>
                    @if (item.CompanyExists)
                    {
                        <a href="/company/@item.CompanyId">@item.CompanyName</a>
                    }
                    else
                    {
                        @item.CompanyName
                    }
                </h4>
            </div>
            <div class="panel-body">
                <div>
                    @item.Position
                </div>
                <div>
                    <span>@item.StartYear -</span>
                    @if (item.EndYear == null)
                    {
                        <span>@RayProfile.Resources.Common.AtTheMoment</span>
                    }
                    else
                    {
                        <span>@item.EndYear</span>
                    }
                </div>
            </div>
            <div class="panel-footer">
                <a class="unstyled" href="/user/experience/delete/@item.Id"><span class="glyphicon glyphicon-remove"></span></a>
                <a class="unstyled" href="/user/experience/edit/@item.Id"><span class="glyphicon glyphicon-pencil"></span></a>
            </div>
        </div>
    </div>
}