﻿@model List<RayProfile.Models.Application>

@{
    ViewBag.Title = "ShowForPosition";
}

<ul class="unstyled z-padding">
    @foreach (var item in Model)
    {
        <li>
            <div>
                <h4><a href="/user/@item.User.Id">@item.User.Username</a></h4>
                <div>
                    <ul class="unstyled z-padding">
                        @foreach (var skill in item.Position.Skills)
                        {
                            <li>
                                @skill.Skill.Name - @skill.Value
                                @{
                            var userSkill = item.User.UserSkills.FirstOrDefault(x => x.Skill.Name == @skill.Skill.Name);
                            if (userSkill != null)
                            {
                                if (userSkill.Value >= skill.Value)
                                {
                                    <span style="color:green;" class="glyphicon glyphicon-ok"></span>
                                }
                                else
                                {
                                    <span style="color:red" class="glyphicon glyphicon-remove"></span>
                                }
                            }
                            else
                            {
                                <span class="glyphicon glyphicon-minus"></span>
                            }

                                }
                            </li>
                        }
                    </ul>
                </div>
                <div>
                    <form method="post" action="/application/@item.Id/accept">
                        <textarea name="Message"></textarea><br />
                        <input type="submit" class="btn btn-success" value="@RayProfile.Resources.Common.Accept" />
                        <a class="btn btn-danger" href="/application/@(item.Id)/decline">@RayProfile.Resources.Common.Decline</a>
                    </form>
                </div>
            </div>
        </li>
    }
</ul>