﻿@model List<RayProfile.Models.Application>

@{
    ViewBag.Title = "ShowAsCompany";
}

<table style="">
    <thead>
        <tr>
            <th>Position</th>
            <th>User</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Position.Name</td>
                <td>@item.User.Username</td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    @Scripts.Render("~/Scripts/jquery.dataTables.min.js")
    <script>
        $(document).ready(function () {
            $("table").dataTable({
                "bPaginate": true,
                "bLengthChange": false,
                "bFilter": false,
                "bSort": true,
                "bInfo": false,
                "bAutoWidth": true
            });
        });
    </script>
}