﻿@model List<RayProfile.Web.ViewModels.UserResourcesIndexViewModel>

@{
    ViewBag.Title = RayProfile.Resources.Common.Resources;
}

<h2>@RayProfile.Resources.Common.Resources</h2>

<p>
    <a href="/user/resource/add">@RayProfile.Resources.Views.UserResources.AddNewResource</a>
</p>

@foreach (var item in Model)
{
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>@item.Title</h3>
            </div>
            <div class="panel-body">
                @if (item.Content != null)
                {
                    @item.Content
                }
                @if (item.Link != null)
                {
                    <div>
                        <a href="@item.Link">@item.Link</a>
                    </div>
                }
            </div>
            <div class="panel-footer">
                <a class="unstyled" href="/user/resource/delete/@item.Id"><span class="glyphicon glyphicon-remove"></span></a>
                <a class="unstyled" href="/user/resource/edit/@item.Id"><span class="glyphicon glyphicon-pencil"></span></a>
            </div>
        </div>
    </div>
}