﻿@model List<RayProfile.Web.ViewModels.SkillsShowMostRequiredViewModel>

<h3>@Html.Raw(RayProfile.Resources.Common.MostRequiredSkills)</h3>
<ol type="1" class="">
    @foreach (var item in Model)
    {
        <li>@item.Name - @item.Count</li>
    }
</ol>