﻿@model RayProfile.Web.ViewModels.UserSkillsAddViewModel

@{
    ViewBag.Title = RayProfile.Resources.Common.Add;
}

<h2>@RayProfile.Resources.Common.Add</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(false)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Name, new { @class = "skillsAC" })
                @Html.ValidationMessageFor(model => model.Name, "*")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Value, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(model => model.Value, new { @class = "value", @value = 5 })
                <div class="value-show">5</div>
                <div style="width: 200px; margin-top: 10px;" class="slider">
                </div>
                @Html.ValidationMessageFor(model => model.Value, "*")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@RayProfile.Resources.Common.Add" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(RayProfile.Resources.Common.BackToList, "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    <script type="text/javascript">
        $(document).ready(function () {
            var skills = @Html.Raw(Model.SkillsJSON)
            $(".skillsAC").autocomplete({
                source: skills,
            });
            console.log(skills);

            $(".slider").slider({
                min: 1,
                max: 10,
                step: 1,
                value: 5,
                slide: function (e, ui) {
                    $(".value").val(ui.value);
                    $(".value-show").html(ui.value);
                }
            });
        });
    </script>
}