﻿@model List<RayProfile.Web.ViewModels.UserSkillsIndexViewModel>

@{
    ViewBag.Title = RayProfile.Resources.Views.UserSkills.Skills;
}

<h2>@RayProfile.Resources.Views.UserSkills.Skills</h2>

<div class="row">
    <div class="skill-panel panel panel-default col-md-3">
        <div class="panel-body">
            <div>
                <h4><a href="/user/skill/add">@RayProfile.Resources.Views.UserSkills.AddSkill</a></h4>
            </div>
        </div>
    </div>
    @foreach (var item in Model)
    {
        <div class="skill-panel panel panel-default col-md-3">
            <div class="panel-body">
                <div>
                    <h3>@item.Name</h3>
                </div>
                <div>
                    <span>@item.Value / 10</span>
                </div>
                <div>
                    <a class="unstyled" href="/user/skill/delete/@item.Id"><span class="glyphicon glyphicon-remove"></span></a>
                </div>
            </div>
        </div>
    }
</div>