﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

ul.unstyled {
    list-style-type: none;
}

.z-padding {
    padding: 0px;
}

div.skill-panel {
    display: table;
    height: 200px;
    text-align: center;
}

    div.skill-panel > div {
        display: table-cell;
        margin: auto;
        vertical-align: middle;
    }

a.unstyled {
    text-decoration: none;
    color: black;
}

div.user-show-container {
    width: 100%;
}

@media (max-width: 767px) {
    div.skill-panel {
        width: 290px;
    }
}