﻿@model List<RayProfile.Web.ViewModels.CompanyBestViewModel>

<h3>@Html.Raw(RayProfile.Resources.Common.CompaniesWithHighestRate)</h3>
<ol type="1" class="">
    @foreach (var item in Model)
    {
        <li><a href="/company/@item.Id">@item.Name</a> - @Math.Round(item.AverageVote, 2) (@item.VotesCount)</li>
    }
</ol>