﻿@model List<RayProfile.Web.ViewModels.CompanyPositionsViewModel>

<ul class="unstyled z-padding">
    @foreach (var item in Model)
    {
        <li>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4><a data-target="@item.Id" class="position-name" href="javascript:;">@item.Name</a></h4>
                    <div data-id="@item.Id" class="hidden">
                        <div>
                            @Html.Raw(item.Desc)
                        </div>
                        <fieldset>
                            <legend>@RayProfile.Resources.Common.Skills</legend>
                            <ul class="skills z-padding unstyled">
                                @foreach (var skill in item.Skills)
                                {
                                    <li>
                                        @skill.Name - @skill.Value
                                        @{
                                    if (item.CurrentUser != null)
                                    {
                                        var userSkill = item.CurrentUser.UserSkills.FirstOrDefault(x => x.Skill.Name == skill.Name);
                                        if (userSkill == null)
                                        {
                                            <span class="glyphicon glyphicon-minus"></span>
                                        }
                                        else
                                        {
                                            if (userSkill.Value >= skill.Value)
                                            {
                                                <span style="color:green;" class="glyphicon glyphicon-ok"></span>
                                            }
                                            else
                                            {
                                                <span style="color:red;" class="glyphicon glyphicon-remove"></span>
                                            }
                                        }
                                    }
                                        }
                                    </li>
                                }
                            </ul>
                        </fieldset>
                        @if (item.CurrentUser != null)
                        {
                            <a class="btn btn-primary" href="/position/@item.Id/apply">@RayProfile.Resources.Common.Apply</a>
                        }
                    </div>
                </div>
            </div>
        </li>
    }
</ul>