﻿@model List<RayProfile.Web.ViewModels.CompanyProductsViewModel>

@foreach (var item in Model)
{
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                <header>
                    <h3>
                        @item.Name
                    </h3>
                </header>
                <div>
                    @item.Desc
                </div>
            </div>
        </div>
    </div>
}