﻿@model RayProfile.Web.ViewModels.CompanyShowViewModel

@{
    ViewBag.Title = Model.Name;
}

<h3>@Model.Name</h3>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-md-5">
            @if (Model.Industry != null)
            {
                <div>
                    @RayProfile.Resources.ViewModels.CompanyDetails.Industry: @Model.Industry
                </div>
            }
            @if (Model.Founded != null)
            {
                <div>
                    @RayProfile.Resources.ViewModels.CompanyDetails.Founded: @Model.Founded
                </div>
            }
            @if (Model.Size != "")
            {
                <div>
                    @RayProfile.Resources.ViewModels.CompanyDetails.Size: @Model.Size @RayProfile.Resources.Common.Employees
                </div>
            }
            @if (Model.Site != null)
            {
                <div>
                    @RayProfile.Resources.ViewModels.CompanyDetails.Site: @Model.Site
                </div>
            }
        </div>
        <div class="col-md-4">
            @if (Model.Desc != null)
            {
                <div>
                    @Html.Raw(Model.Desc)
                </div>
            }
        </div>
        @if (User.Identity.IsAuthenticated && Session["type"] != null && Session["type"].ToString() == "user")
        {
            <div class="col-md-3">
                @Html.Action("VoteCompanyView", "Votes", new { companyId = Model.Id })
            </div>
        }
    </div>
</div>
<div class="tab-nav nav navbar-default">
    <ul class="nav navbar-nav">
        <li><a href="#products" data-toggle="tab">@RayProfile.Resources.Common.ProductsAndServices</a></li>
        <li><a href="#positions" data-toggle="tab">@RayProfile.Resources.Common.Positions</a></li>
    </ul>
</div>
<div class="tab-content">
    <div class="user-show-container container tab-pane active" id="products">
        @Html.Action("Products", "Company", new { companyId = Model.Id })
    </div>
    <div class="user-show-container z-padding container tab-pane" id="positions">
        @Html.Action("Positions", "Company", new { companyId = Model.Id })
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $(".position-name").on("click", function () {
                var targetId = $(this).attr("data-target");
                var target = $("[data-id=" + targetId + "]");
                if (target.hasClass("hidden")) {
                    target.removeClass("hidden");
                } else {
                    target.addClass("hidden");
                }
            });
        });
    </script>
}