﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - RayProfile</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">RayProfile</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (Session["type"].ToString() == "user")
                        {
                            <li>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                                    @RayProfile.Resources.Common.Profile <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="/user/details">
                                            @RayProfile.Resources.Common.Details
                                        </a>
                                        <a href="/user/skills">
                                            @RayProfile.Resources.Common.Skills
                                        </a>
                                        <a href="/user/experience">
                                            @RayProfile.Resources.Common.Experience
                                        </a>
                                        <a href="/user/resources">
                                            @RayProfile.Resources.Common.Resources
                                        </a>
                                        <a href="/user/education">
                                            @RayProfile.Resources.Common.Education
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/user/messages">@RayProfile.Resources.Common.Messages</a>
                            </li>
                        }
                        else if (Session["type"].ToString() == "company")
                        {
                            <li>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                                    @RayProfile.Resources.Common.Company <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="/company/details">
                                            @RayProfile.Resources.Common.Details
                                        </a>
                                        <a href="/company/products">
                                            @RayProfile.Resources.Common.ProductsAndServices
                                        </a>
                                        <a href="/company/positions">
                                            @RayProfile.Resources.Common.Positions
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/lang/bg?returnUrl=@Request.Path">
                            <img width="30" height="" alt="bg" src="/Content/bg.png" />
                        </a>
                    </li>
                    <li>
                        <a href="/lang/en?returnUrl=@Request.Path">
                            <img width="" height="" alt="en" src="/Content/en.png" />
                        </a>
                    </li>
                    <li style="padding-top: 6px">
                        <form action="/search" method="get" class="form-inline">
                            <div class="form-group">
                                <input class="form-control" type="text" name="q" placeholder="@RayProfile.Resources.Common.SearchCompanyOrUser" />
                            </div>
                            <div class="form-group">
                                <input value="@RayProfile.Resources.Common.Search" type="submit" class="btn btn-default btn-sm" />
                            </div>
                        </form>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>
                            <a href="javascript:;">@RayProfile.Resources.Common.Hello @User.Identity.Name</a>
                        </li>
                        <li>
                            <a href="/logout">@RayProfile.Resources.Common.Logout</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="javascript:;">
                                @RayProfile.Resources.Common.Register<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/register/user">@RayProfile.Resources.Common.AsUser</a>
                                </li>
                                <li>
                                    <a href="/register/company">@RayProfile.Resources.Common.AsCompany</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="javascript:;">
                                @RayProfile.Resources.Common.Login<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/login/user">@RayProfile.Resources.Common.AsUser</a>
                                </li>
                                <li>
                                    <a href="/login/company">@RayProfile.Resources.Common.AsCompany</a>
                                </li>
                            </ul>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="row">
            <div class="col-md-8">
                @RenderBody()
            </div>
            <div class="hidden-sm hidden-xs col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <ul class="nav nav-tabs">
                            <li style="width: 33%;" class="active"><a style="white-space: normal;" href="#most-required" data-toggle="tab">@Html.Raw(RayProfile.Resources.Common.MostRequiredSkills)</a></li>
                            <li style="width: 33%;"><a style="white-space: normal;" href="#best-companies" data-toggle="tab">@Html.Raw(RayProfile.Resources.Common.CompaniesWithHighestRate)</a></li>
                            <li style="width: 33%;"><a style="white-space: normal;" href="#best-users" data-toggle="tab">@Html.Raw(RayProfile.Resources.Common.UsersWithHighestRate)</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="user-show-container container tab-pane active" id="most-required">
                                @Html.Action("ShowMostRequired", "Skills")
                            </div>
                            <div class="user-show-container z-padding container tab-pane" id="best-companies">
                                @Html.Action("Best", "Company")
                            </div>
                            <div class="user-show-container z-padding container tab-pane" id="best-users">
                                @Html.Action("Best", "User")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - RayProfile</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/underscore.min.js")
    @RenderSection("scripts", required: false)
    <script>
    </script>
</body>
</html>